/* ========================================================================
* Warioware: game2.css v0.1
* https://github.com/afahim/warioware/
* ========================================================================
* Copyright 2014 Techbridgeworld, Inc.
* Developed for 15-239 (http://www.cs.cmu.edu/~./239/about/)
* ======================================================================== */


/* Table of Contents
==================================================

#player1
#player2
#finish
#start
#gas
#startTime
#lose
#tryAgain
#win
#levelBackground2

================================================== */

#player1 {
	top:15%;
	left:2%;
	width: 50px;
	height: 30px;
	z-index: 0;
	background-image: url("../images/player1.png");
	overflow:hidden;
	/*background-position: 256px 381px;*/
	position: absolute;
}
#player2 {
	top:23%;
	left:2%;
	width: 50px;
	height: 28px;
	z-index: 0;
	background-image: url("../images/player2.png");
	overflow:hidden;
	/*background-position: 351px 124px;*/
	position: absolute;
}
#finish {
	position: absolute;
	top: 0%;
	left: 90%;
	width: 5%;
	height: 100%;
	z-index: -1;
	background-image: url("../images/checkerboard.jpg");
}
#start {
	position: absolute;
	left: 9%;
	top: 0px;
	height: 100%;
	z-index: -1;
	border-left: 5px solid yellow;
}
#gas {
	position: absolute;
	left: 80%;
	top: 75%;
	height: 20%;
	width: 10%;
	background-color: red;
	border: 2px solid black;
	z-index: 10 !important;
}
#startTime {
	position: absolute;
	top: 30%;
	left: 40%;
	font-size:4em;
	font-weight:bold;
	z-index: 0;
	color: yellow;
	padding: 5%;
	border:2px solid black;
	border-radius:10px;
}
#lose {
	position: absolute;
	top: 0px;
	left: 400px;
	width: 100px;
	height: 68px;
	background-image: url("../images/crossbones.jpg");
	display: none;
}
#tryAgain {
	position: absolute;
	top: 80px;
	left: 185px;
	display: none;
}
#win {
	position: absolute;
	top: 0px;
	left: 400px;
	width: 100px;
	height: 81px;
	background-image: url("../images/win.jpg");
	display: none;
}
#levelBackground2 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -2;
	background-color: DarkOliveGreen;  	
}