.button {
	height: 20%;
	bottom: 0%;
	top: 80%;
	border-radius: 4%;
	border-color: #000;
	border-style: solid;
	border-width: 5%;
	position: absolute;
	opacity: 0.6;
}

#button0 {
	background-color: red;
	height: 300px;
}

#button1 {
	background-color: green;
}

#button2 {
	background-color: blue;
}