/* ========================================================================
* Warioware: question.css v0.1
* https://github.com/afahim/warioware/
* ========================================================================
* Copyright 2014 Techbridgeworld, Inc.
* Developed for 15-239 (http://www.cs.cmu.edu/~./239/about/)
* ======================================================================== */


/* Table of Contents
==================================================

#questionPrompt
.ans
#ans1
#ans2
#ans3
#ans4
#levelBackground

================================================== */

#questionPrompt {
	top:25px;
	left:8%;
	font-family: Quicksand, sans-serif;
	font-size: 2em;
	border-width: 5px;
	border-color: black;
	position: absolute;
}
.ans {
	font-size: 2em;
	font-family: Quicksand, sans-serif;
	border-radius: 10px;
	border-style: none;
	background-color: #9a3923;
	box-shadow: 1px 1px 3px #990000;
	width:28%;
	height: 18%;

	position: absolute;
}

#ans1 {
	top:35%;
	left:8%;
}
#ans2 {
	top:35%;
	left:45%;
}
#ans3 {
	top:60%;
	left:8%;
}
#ans4 {
	top:60%;
	left:45%;
}
#levelBackground {
	width: 100% !important;
	height: 100% !important;
	background-color: #dd5132; 
	z-index: 0; 	
}